/* Шрифты */

/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-cyrillic_latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/oswald-v49-cyrillic_latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* oswald-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/oswald-v49-cyrillic_latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* общие стили */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  width: 1440px;
  border: 1px solid red;
  margin: 0 auto;
}

/* шапка сайта */

.header {
  background-color: #66D1FF;
  text-decoration: none;

}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.header-logo {
  color: #060D10;
  display: flex;
  margin: 0;
  padding: 10px;
  list-style: none;
}

.btn {
  color: #060D10;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  line-height: 29px;
  border-radius: 4px;
  border: 2px solid #FFF;
  background: #FFF;
  text-decoration: none;
}

.tel {
  color: #060D10;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  line-height: 34px;
  text-decoration: none;
}


/* блок info */

.info {
  background-image: url(../img/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* display: flex;
width: 1440px;
height: 766px;
padding: 240px 81px 260px 81px;
flex-direction: column;
align-items: center;
gap: 60px; */

  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 2px #060D10;
}

.info-title {
  padding-top: 240px;
  font-family: Oswald;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 89px;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 2px #060D10;
}

.info-desc {
  width: 1060px;
  margin: 240px auto 260px;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 2px #060D10;
  font-size: 32px;
  font-style: normal;
  line-height: 39pxl;
}

/* блок desc */

.desc-title {
  color: #060D10;
  text-align: center;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 167%;
  /* 80.16px */
  text-transform: uppercase;
}

.desc-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 30px;
}

.desc-caption {
  color: #060D10;
  font-family: Oswald;
  font-size: 32px;
  font-weight: 500;
  line-height: 167%;
  /* 53.44px */
  text-transform: uppercase;
}

.desc-item {
  flex-basis: calc(30% - 15px);
  color: #060D10;
  font-size: 26px;
  font-style: normal;
  line-height: 140%;
  /* 36.4px */
}

.desc-text {
  border: 1px solid blue;
}

/* блок lead */

.lead {
  text-align: center;

}

.lead-title {
  color: #060D10;
  text-align: center;
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 167%;
  /* 80.16px */
  text-transform: uppercase;
  padding: 170px 395px;

}

.btn.lead {
  width: 505px;
  height: 86px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 3px solid #060D10;
  text-decoration: none;
}

.img-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

.img-ski {
  width: 297px;
  height: 297px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: -25%;
}

/* подвал */
.footer {
  height: 111px;
  background: #060D10;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 167%;
  /* 33.4px */
}

.footer-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}